<h2 class="text-center"><%= @list.listing_type %> services</h2>

      <div class="text-left">
          <%= form_tag list_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Enter a location or title"
            %>
            <%= submit_tag "Search", class: "btn btn-primary" %>
          <% end %>
      </div>

  <div class="container mt-4 ml-4">
    <div class="title text-center">


      <div class="d-flex justify-space-between">
        <div class="col-md-6">
          <div class="row cards-services text-center">
            <% @services.each do |service| %>
              <div class="col-sm-6 pb-3">
                  <div class="card align-items-center">
                    <%= cl_image_tag "airbnb-clone/1.png", class: "profile-pic-services-display"%>
                    <div class="card-body">
                      <h5 class="card-title">Service</h5>
                      <h5><%= service.service_title %></h5>
                      <p class="card-text"> Location: <%= service.location %></p>
                      <p class="card-text"> Price/hour: <%= service.price_rate %></p>
                    </div>
                      <button type="button" class="btn btn-primary mb-3">
                        <%= link_to "Book service",  service_path(service), class: "dark-font-link" %>
                      </button>
                  </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="col-md-6">
          <!-- column 2 -->

          <!-- Geocoded map -->
          <div id="map-box" class="container mr-3">
            <div id="map"
                style="width: 100%; height: 400px;"
                data-markers="<%= @markers.to_json %>"
                data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
          </div>

          <!-- Geocoded map -->

          <!-- column 2 -->
        </div>
      </div>
    </div>
  </div>
  <!--

  <div class="container mt-5">
    <div class="row cards mt-5">
      <% @list.services.each do |service| %>
        <div class="col-4">
          <div class="card mb-4">
            <%= cl_image_tag "airbnb-clone/1.png", class: "service-images"%>
            <div class="card-body">
              <h6 class="card-title text-center font-weight-bold mt-2">Service: <%= service.service_title %>
              <p class="card-text mt-2 mb-2">$<%= service.price_rate %> per hour</p>
                Location: <%= service.location %></h6>
              <button type="button" class="btn btn-primary mt-2">
                <%= link_to "Book Service" %>
              </button>
            </div>
          </div>
        </div>
      <%end %>
    </div>
  </div>
</div> %>
