<div class="page-wrapper">
  <div class="text-center">
    <h2>Here are all the <strong>Services</strong> you are sharing!</h2>
  </div>


    <div class="container mt-5">
      <div class="row cards mt-5">
        <% @services.each do |service| %>
          <div class="col-sm-6 pb-3">
            <div class="card align-items-center">
              <div class="f-box pt-3">
                <% if service.user.photo.attached? %>
                  <%= image_tag service.user.photo, width: 100, height: 100, id: "profile-pic-post" %>
                <% else %>
                  <%= cl_image_tag "https://res.cloudinary.com/dnczymjwi/image/upload/v1635257040/airbnb-clone/1.png", width: 100, height: 100 %>
                <% end %>
              </div>


              <div class="card-body py-4">
                <div class="flex">

                  <h5 class="pb-3"><%= service.service_title %></h5>
                  <div class="flex ">
                    <div class="flex text-left pb-3">
                      <i class="fas fa-location-arrow"></i><span> <%= service.location %></span>
                    </div>
                    <div class="flex text-left">
                      <i class="fas fa-dollar-sign"></i><span><%= service.price_rate %>/hour</span>
                    </div>
                  </div>

                  <div class="container pt-4">
                    <button type="button" class="btn btn-primary">
                      <%= link_to "Edit this service", edit_service_path(service), class: "dark-font-link" %>
                    </button>

                    <button type="button" class="btn btn-primary">
                      <%= link_to "Delete this service", service_path(service),
                      method: :delete,
                      data: { confirm: "Are you sure?" },
                      class: 'ml-3 text-danger' %>
                    </button>
                  </div>
                </div>

                <button type="button" class="btn btn-primary">
                  <%= link_to "Edit Service Offer", edit_service_path(service), class: "dark-font-link" %>
                </button>
                <button type="button" class="btn btn-danger">
                  <%= link_to "Delete Service Offer", service_path(service),
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  class: 'dark-font-link' %>
                </button>
                <% if service.bookings.nil? %>
                  <p>You don't have any bookings yet</p>
                <% else %>
                  <% service.bookings.each do |booking| %>
                    <div class="services-bookings border mt-2">
                      <p><i class="fas fa-exclamation-circle"></i> <strong><%= booking.start_date %> - <%= booking.end_date %></strong></p>
                        <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Manage bookings
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <%= link_to "Accept ", booking_path(booking, booking: {status: "Confirmed"}), method: :patch, class: "btn btn-success"%></li>
                            <%= link_to "Decline", booking_path(booking, booking: {status: "Canceled"}), method: :patch, class: "btn btn-danger"%>
                          </div>
                        </div>
                    </div>
                  <% end %>
                <% end  %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div>
