<div class="container mt-4 ml-4">
  <div class= "row cards">

    <div class="col-sm-6 pb-3">
      <div class="card align-items-center">
        <% if @service.user.photo.attached? %>
          <%= image_tag @service.user.photo, width: 200, height: 200, id: "profile-pic-post" %>
        <% else %>
          <%= cl_image_tag "https://res.cloudinary.com/dnczymjwi/image/upload/v1635257040/airbnb-clone/1.png", width: 100, height: 100 %>
        <% end %>
        <div class="card-body py-4">

          <h5 class="pb-3">
            <h5 class="pb-3"><%= @service.user.first_name %> <%= @service.user.last_name %></h5>
            <%= @service.service_title %>
          </h5>
          <div class="flex ">
            <div class="flex text-left pb-3">
              <i class="fas fa-location-arrow"></i><span> <%= @service.location %></span>
            </div>
            <div class="flex text-left">
              <i class="fas fa-dollar-sign"></i><span><%= @service.price_rate %>/hour</span>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-sm-6 pb-4">
      <div id="map-box" class="container mr-3">
        <div id="map"
          style="width: 100%; height: 400px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>

  </div>
</div>

<h4>Select the dates you're available to book this service</h4>
<%= simple_form_for([@service,@booking]) do |f| %>
  <%= f.input :start_date, label: "Start Date", as: :date, input_html: {class: "datepicker"} %>
  <%= f.input :end_date, label: "End Date", as: :date, input_html: {class: "datepicker"} %>
  <%= f.submit "Book!", class: "btn btn-primary" %>
<% end %>
