  <div class="page-wrap">
    <div class="banner bg-white">
      <div class="banner-body align-items-center">
        <div class="banner-text mr-4 pl-4 pr-4">
          <p>Quality work & Quick service </p>
          <p class="sign-up">Sign up for free today</p>
          <button class="btn btn-outline-info btn-lg">
            <%= link_to "Sign Up", new_user_registration_path, class: "dark-font-link" %>
          </button>
        </div>
        <div class="banner-image pl-4">
          <%= cl_image_tag "airbnb-clone/g-banner3.jpg" %>
        </div>
      </div>
    </div>

    <div class="container-solutions mb-4 bg-white">
      <h2 class="text-center mb-2">Everything you need on the same page!</h2>
      <div class="row cards-solutions" data-aos="zoom-out-up">
        <% List::SOLUTIONS.each do |solution| %>
          <div class="col-4">
            <div class="solution-card">
              <%= cl_image_tag("airbnb-clone/#{solution}.png", :width => 150, :height => 0, class: "solution-images")%>
              <p>Location Tracking: Wide range of professionals anywhere you are.</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="container mt-5">
      <div class="container-title">
        <h2 class="text-center mb-2">Everything you need on the same page!</h2>
      </div>
      <div class="row cards mt-5" data-aos="flip-up">
        <% @lists.each do |list| %>
          <div class="col-4">
            <div class="card mb-4 align-items-center">
              <%= cl_image_tag "airbnb-clone/#{list.listing_type}.png", class: "home-images"%>
              <div class="card-body text-center">
                <h5><%= list.listing_type %></h5>
                <button type="button" class="btn btn-primary">
                  <%= link_to "Learn more", list_path(list), class: "dark-font-link" %>
                </button>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
        <footer class="page-footer pt-3">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="black-text"><em><b>Useful Links</b></em></h5>
                <ul>
                  <li><a class="black-text text-lighten-3" href="#!">Privacy Policy</a></li>
                  <li><a class="black-text text-lighten-3" href="#!">Our COVID-19 Efforts</a></li>
                  <li><a class="black-text text-lighten-3" href="#!">Legal Notice</a></li>
                  <li><a class="black-text text-lighten-3" href="#!">Cookie Policy</a></li>
                </ul>
              </div>
              <div class="col l4 offset-l2 s12" id="social_icons">
                <h5 class="black-text"><em><b>Questions? Get in touch!</b></em></h5>
                  <a class="black-text text-lighten-3" style="padding-left:18px;" href="#!"><i class="fab fa-whatsapp fa-2x"></i></a>
                  <a class="black-text text-lighten-3" style="padding-left:12px;" href="#!"><i class="fab fa-twitter fa-2x"></i></a>
                  <a class="black-text text-lighten-3" style="padding-left:12px;" href="#!"><i class="fab fa-facebook-f fa-2x"></i></a>
                  <a class="black-text text-lighten-3" style="padding-left:12px;" href="#!"><i class="fab fa-instagram fa-2x"></i></a>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            <b>© 2021 Batch-686. All Rights Reserved.</b>
            <a class="grey-text text-lighten-4 right" href="#!"><b> Terms and Conditions <b><i class="fas fa-star"></i></a>
            </div>
          </div>
        </footer>
